:root {
  --primary-color: #232121;
  --secondary-color: #9f9f9f;
  --third-color: #4f4a4a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  /*
  background-image: url("./images/background.png");
  background-size: cover; /* Cover the entire area */*/
  
  font-family: Arial, Helvetica, sans-serif !important;
}
.secondary-color{
  color: var(--secondary-color);
}
.third-color{
  color: var(--third-color);
}

.number{
  font-size:0.7em;
  color: var(--secondary-color);
}

body .homepage {
  color: var(--primary-color);
}


nav .navbar {
  background-color: transparent !important; /* Override Bootstrap's background-color */
}

a, .link-color, i {
  transition: all 120ms ease-in-out;
  color: var(--primary-color);
  transition: all 250ms ease;
  text-decoration: none;
  font-size:18px;

}

a:hover, .link-color:hover {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  color:var(--secondary-color);
  text-decoration: underline;
}

.fade-in-element {
  animation: fade-in-effect 2s ease-in-out both;
  
}

.fade-in-element {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}

.fade-in-element.visible {
  opacity: 1;
  filter: blur(0px);
}


.top-container{
  margin:auto;
  width:100%;
}
.header-container{
  position: relative;/* Establish a positioning context for absolute children */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
}

.top-container h1 {
  width: 100%; /* Full width */
  font-size: 15vw; /* Responsive font size */
  text-align: left; /* Align text to the left */
  margin: 0; /* Remove default margins if needed */
  position: relative; /* Position relative for stacking context */
}

.top-container p {
  font-size: 23px;
  text-align: left;
}

.homepage .top-container {
  padding-left: 80px;
}

h2 {
  font-size: 58px !important;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;

}

.skill-item{
  font-size: 40px;
}

.skill-name{
  font-size: 30px;
}

.swiper-button-prev, .swiper-button-next{
  color: var(--primary-color)!important;
}

.resume a{
  color: var(--primary-color);
  font-size: 20px;
  transition: all 250ms ease;
  text-decoration: none;
  
}

h1, .project-heading h1, .contact h1{
  font-size: 104px;
    font-weight: 500;
    line-height: 100%;
}
.projects-content {
  margin-top: 15px;
  color: var(--primary-color);
}
.projects-content h3 {
  font-size: 50px;
}

.projects-content p {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  
}

.projects-highlight {
  color: var(--primary-color);
}
.projects-highlight p {
  text-align: left;
  padding-left: 0px;
}

 .creative-agency img {
  width: 356px;
  height: 358px;
margin:auto;
}

.project-links i {
  color: var(--primary-color);
}
.navigation-links .project-links a {
  margin: 0px;
  padding-left: 0px;
}

.projects-content h3 {
  margin: 50px;
  margin-left: 0px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.projects-highlight {
  position: relative; /* Ensure the container is positioned relative to its children */
}

.swiper {
  position: relative; /* Make sure swiper is positioned relative so that the message can be positioned absolutely within it */
}

#hoverMessage {
  display: none; /* Hide the message by default */
  position: absolute; /* Position absolutely within the swiper */
  top: 20%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the message relative to its position */
  background-color: rgba(226, 226, 226, 0.3); /* Background color with transparency */
  color: rgb(0, 0, 0); /* Text color */
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  z-index: 10; /* Ensure the message appears above other content */
  white-space: nowrap; /* Prevent text wrapping */
}

.swiper:hover #hoverMessage {
  display: block; /* Show the message when the swiper is hovered */
}

.main-branding-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.about-page {
  color: var(--primary-color);
  margin-bottom: 200px;
}
.about-page h2 {
  font-weight: 20px;
}
.about-page .content p{
  text-align: left;
  padding-left: 0px;
  padding-bottom:10px;
  margin-bottom:0px;
}

.grayscale-filter img {
  border-radius: 8px;
  box-shadow: 0px 5px 20px rgb(97, 97, 97);
  filter: grayscale(100%);
  transition: all 250ms ease;
}
.grayscale-filter img:hover {
  transform: translateY(-10px); /* Move the image up by 10px when hovered */
  filter: grayscale(0%);
}

 .swiper-slide {
      background-position: center;
      background-size: cover;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }

    .swiper-certificate {
      width: 320px;
      height: 240px;
    }



.tool {
  padding: 12px;
  margin-top: 20px;
  margin-left: 0px;
  background-color:none;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}
.tool.role-title{
  
  position: absolute;
  top:-30px;
  left:10px;

}

.workflow-heading{
  font-size: 1.5em;
  font-weight:500;
}
.description{
  font-size: 1.3em;
  letter-spacing: 0.01em;
 
}
table td.description{
  color: var(--third-color);
}
.more-text {
  display: none;
  opacity: 0;
  transition: opacity 1.2s ease;
}

.more-text.show {
  opacity: 1;
}

.contact {
  color: var(--primary-color);
}

.email-link {
  color: var(--primary-color);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.footer-cta {
  font-size: 50px;
}
footer {
  color: var(--primary-color);
}

footer .social-links a {
  color: var(--primary-color);
  font-size: 20px;
  padding: 20px;
  padding-bottom: 10px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  box-shadow: 0 0 20px rgb(231, 230, 230, 0.9);
  border-radius: 10px;
}

footer .social-links i {
  font-size: 25px;
  color: var(--primary-color);
}

footer .trademark {
  color: var(--primary-color);
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  text-align: center;
}

a.footer-link-color, .projects-highlight a, .footer-cta a,.about-page a {
  transition: all 120ms ease-in-out;
   color: var(--secondary-color);
  transition: all 250ms ease;
  text-decoration: none;
  font-size: inherit;

}

a.footer-link-color:hover, .projects-highlight a:hover, .footer-cta a:hover, .about-page a:hover {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  color:var(--primary-color);
  text-decoration: underline;
}

.footer-email {
  margin-bottom: 15px;
}

.animate-in-y-position {
  animation: CSSScrollReveal-Y 1s ease-in-out both;
}
.hidden {
  opacity: 0;
}

@keyframes CSSScrollReveal-Y {
  from {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}
.hiddenElements-x-axis {
  opacity: 0;
}
.animate-in-x-position {
  animation: CSSScrollReveal-X 1s ease-in-out both;
}

@keyframes CSSScrollReveal-X {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
  .certificates {
    display: flex;
  }
  .certificate:nth-child(1) {
    transition-delay: 200ms;
  }
  .certificate:nth-child(2) {
    transition-delay: 400ms;
  }
  .certificate:nth-child(3) {
    transition-delay: 600ms;
  }
}

@media (max-width: 768px) {
  /* Extra small devices (phones, less than 576px) */

  h1 {
  font-size: 2.5rem; /* Adjust as needed */
}
.tool.role-title{
  top:-40px;
}

  .homepage .top-container {
    padding-left: 30px;
  }
  .top-container h1 {
    font-size: 30vw;
  }
  .header-container h1{
    margin-top:15px;
    font-size:75px;
  word-wrap: normal;
  white-space: normal;

  }
td.description{
    text-align:left;
  }
  .resume a{
    font-size:13px;
  }

#hoverMessage {

  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
}
  footer {
    margin-left: 20px;
  }
  .contact .content {
    padding: 15px;
  }

  .description, .project-links, h2{
    text-align: center;
  }
  

  /*project page*/
.tools-used{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10px;
  }
  h1,.project-heading h1, .contact h1 {
  display:flex;
  flex-wrap:wrap;
  font-size: 70px;
  padding:10px;
  }
}

